{% extends 'base.html' %}
{% block style%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/about.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'style/style.css'%}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet">
<link rel="static//style/style" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
<link rel="static/style" href="style.css">
<link rel="static/style/style.css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   
{% endblock style %}
{% block tittle %}
About us
{% endblock tittle %}

{% block body %}

  
<main>
<div class="container" >
  <div class="container py-4 "style="margin-top:33px";>
   

    <div class="p-5 mb-4 bg-light rounded-3 " style="background:url(static/image/cow2.jpg)";>
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center  text-white" >ABOUT US</h1>
        <p class="col-md-12 fs-4 text-center  text-white">Welcome to DUDH
                                                          DUDH having its registered and corporate office at aligarh City of Uttar Pradesh State in India. The company was incorporated in the year 2005 and production commenced in 2005. Currently, Our procurement is centered in 5 cities and our products are available for purchase in all 5 cities We have 5 milk chilling centers. 
                                                          Our distribution and marketing operations consist of distribution of our products through 5 sales offices, 250 distribution agents, 200 milk distributors and 100 milk product distributors  in Aligarh . Additionally, as of March 31st, 2021, our milk and dairy based VAPs are also available through 50 “DUDH Retail Parlours” which commenced operations in 2016 and are spread across the city of  aligarh , bareilly, ghaziabad,agra and bulandshahr. Our product portfolio consists of Milk, Butter , Ghee, Curd, Paneer, Flavoured Milk, Doodh Peda, Ice Cream and Milk Based Sweats. These products are conveniently packed to suit various needs of its consumers.</p>
        
      </div>
    </div>
    <div class="container round-3" >
  <div class="row">
    <div class="col">
       <img src="static/image/challenge1 (1).jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">OUR CHALLENGES</h5>
    <p class="card-text"><h2>Challenges Faced By The Indian Dairy Sector</h2>

<h2>Shortage of feed/fodder</h2>

There is an excessive number of unproductive animals which compete with productive dairy animals in the utilisation of available feeds and fodder.  The grazing area is being reduced markedly every year due to industrial development resulting in shortage of supply of feeds and fodder to the total requirement. Ever increasing gap between demand and supply in feeds and fodder limits performance of dairy animals. Moreover, provision of poor quality of forage to dairy cattle restricts animal production system. The low capability of purchasing feeds and fodder by the small and marginal farmers and agricultural labourers engaged in dairy development result in inadequate feeding. Non-supplementation of mineral mixture results in mineral deficiency diseases. High-cost Feeding reduces the profits of the dairy industry.<br>



<h2>Breeding system</h2>

Late maturity, in most of the Indian cattle breeds, is a common problem. There is no effective detection of heat symptoms during oestrus cycle by the cattle owners. The calving interval is on the increase resulting in a reduction in efficiency of animal performance. Diseases causing abortion leads to economic loss to the industry. Mineral, hormone and vitamin deficiencies lead to fertility problems.<br>

<h2>Education and Training</h2>

A vigorous education and training programmes on good dairy practices could result in the production of safe dairy products, but to succeed they have to be participative in nature. In this regard, education and training of all the employees is essential so that they understand what they are doing and develop a sense of ownership. However developing and implementing such programs in the dairy sector requires a strong commitment from the management, which at times, is a stumbling block.<br>

<h2>Health</h2>
 

Veterinary health care centres are located in far off places. The ratio between cattle population and veterinary institution is wider, resulting in inadequate health services to animals. No regular and periodical vaccination schedule is followed, regular deworming programme is not done as per schedule, resulting in heavy mortality in calves, especially in buffalo. No adequate immunity is established against various cattle diseases.<br>

<h2>Hygiene Conditions</h2>

Many cattle owners do not provide proper shelter to their cattles leaving them exposed to extreme climatic conditions. Unsanitary conditions of cattle shed and milking yards, leads to mastitis conditions. Unhygienic milk production leads to a reduction in storing quality and spoilage of milk and other products.<br>

<h2>Marketing and Pricing</h2>

Dairy farmers are not getting remunerative price for milk supply. Due to the adoption of extensive crossbreeding programme with Holstein Friesian breed, the fat content of crossbreed cow's milk is on the declining condition and low price is offered as the milk price is estimated on the basis of fat and solid nonfat milk content. There is also a poor perception of the farmers, due to lack of marketing facilities and extension services, towards commercial dairy enterprise as an alternative to other occupation. <br>                          


major challenges Challenges in India entry amul dairy products Mother Dairy Dairy Product Kwality Dairy Dairy Milk Dairy Business Indian Dairy Association Dairy Farmers indian dairy industry.
</p>

    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    
  </div>
    </div>
    <div class="col">
      <img src="static/image/challenge1 (2).jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">OUR FARMER</h5>
    <p class="card-text">Farming is a labor of love – a love of land, cows, family and feeding the world. The I’m a Malik Dairy Farmer documentary series profiles the diverse, dimensional who relish in early morning milking and working shoulder to shoulder with family while taking the time to pursue passions in tech, photography, running and even flying! As jacks of all trades and masters of many, this series showcases the pride Malik dairy farmers have in the work they do and the common values they share with the people who consume their dairy products.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
    </div>
    <div class="col">
      <img src="static/image/challenge1 (3).jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">FOUCS OUR HEALTH</h5>
    <p class="card-text"> If you think, by ‘health benefits’ we’re only going to talk about how it’s going to internally strengthen you, then you’re only partially right. Milk has various properties to help beautIfy you as well. After all, it's not without any reason that the Gods bathe in this elixirFrom your skin to your hair, milk can help you with most woes. If you don’t like milk straight-up, any of its byproducts like buttermilk and yogurt also exhibit similar health benefits. So keep on reading, because after knowing about the goodness milk possesses, you’re never going to skip out on it.

1. Milk Is A Great Source of Calcium
2. Milk Reduces The Risk of Obesity
3. Milk Helps Make Your Teeth Healthy
4. Milk Can Help Prevent Heartburn
5. Milk Helps Your Skin Glow
6. Milk Can Help Fight Diseases
7. Milk Can Help Fight Depression
8. Milk Has Hair Hydrating Properties
9. FAQs on Milk Benefits
1. Milk Is A Great Source of Calcium

 
Let’s get the obvious out of the way first. Calcium doesn’t just protect your bones from being brittle. Calcium also plays a big role in literally making your heart pump by allowing your muscles to contract, a study by Havard suggested. It enables blood to clot, preventing you from bleeding out to death every time you cut yourself. It strengthens your bones and plays a key role in the health of your teeth, nails as well as hair.

A glass of milk (250 ml), you are consuming about 285mg calcium, which meets over 20% of your daily requirement of the mineral, as per the National Osteoporosis Foundation's website.
2. Milk Reduces The Risk of Obesity


Weight watchers, this one for you. A cup of milk can give you the feeling of being full. Moreover, it even satisfies your various cravings by simply adding anything from chocolate powder to fruits. Just be sure to not add excessive sugar and you’ve found yourself the healthiest drink you can consume. What’s more, it costs nothing close to the expensive diet stuff people usually invest in.

 Adding 2-3 cups of milk in your daily diet can help you not just prevent obesity but actually control your weight.
3. Milk Helps Make Your Teeth Healthy



Most of the calcium in our body comes from our bones and teeth. And for the latter, there is nothing better than milk, be it to make it stronger or to prevent damage. Reposts suggest that drinking a cup of milk a couple of times a day could help prevent cavities and tooth decay. However, it should be noted, the calcium in milk can only be absorbed by your body when vitamin D is around. So make sure that the milk you drink is fortified with it by your manufacturer.

 Milk and dairy products not only contain calcium and phosphorus, but also proteins called caseins. These, when combined together, form a protective film on the enamel. This coating helps prevent your teeth from decay caused by common bacterial acids.
4. Milk Can Help Prevent Heartburn


Various foods in our diet are usually more acidic and spicy in nature than we expect or are used to. These, then, become the culprits of harrowing acidity and stomach woes, as per Healthline. To avoid being in these kinds of sticky situations, it’s advised to have a glass of milk after a meal that has smoke smoking out of your ears. Studies suggest milk has a cooling effect that coats the stomach lining and oesophagus against heartburn.

 Capsaicin, an oily chemical compound, commonly found in chilli peppers bind a receptor in the tongue and create a burning sensation. Since oil and water don't mix, the latter doesn't help. However, capsaicin is fat-soluble and hence helps with the burn.
5. Milk Helps Your Skin Glow
While drinking milk isn’t always a favourable option, it usually is the combining agent in creating several homemade skin masks that help your skin achieve a glow like no other. In fact, in colonial times, Indian royalty was bathed in milk during special occasions. It’s said to have to purify properties and packs in a lot of natural moisturisers, as per a report in the Times Of India. Moreover, reports also suggest that milk has a lightening effect on the skin.

Here’s a DIY mask you can easily make at home to harness the health benefits of milk for your skin.

Milk Helps Your Skin Glow Infographic

6. Milk Can Help Fight Diseases


As mentioned before, calcium literally helps your heart pump by giving your muscles the ability to contract. With that in mind, a glass of milk can keep fatal diseases like high blood pressure and the possibility of having a stroke at bay. Moreover, lactose in the milk helps your liver reduce the production of bad cholesterol, as per Healthline. This not only helps improve your vision but helps your body fight certain types of cancers. helps your liver to reduce the production of cholesterol. This helps improve your vision and some types of cancers.

 Adding turmeric powder to milk can literally help you get rid of everything to cough to a viral infection, while also boosting your immunity.
7. Milk Can Help Fight Depression


Adequate levels of Vitamin D maintain the production of serotonin, a hormone associated with mood, appetite and sleep. A 2020 research has recently found that sometimes the feeling of depression can be linked back to a deficiency of Vitamin D in the body. Milk is fortified with Vitamin D boosters by manufacturers and can help aid in getting out of a low mood.
8. Milk Has Hair Hydrating Properties
Earlier we told you how to make a great skincare mask using milk. However, the natural moisturisers in milk can help your hair a great deal as well. This ingredient works like magic for especially those troubled with dry and dull hair. It can help completely rejuvenate your mane, while also adding a layer of sheen, as per several reports.

</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

  </div>
    </div>
    
  </div>
</div>


    <div class="row align-items-md-stretch" >
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-10">
           <img  class="image" src="static/image/team.jpg" class="card-img-top" alt="..." style="	width: 200px;height: 200px;border-radius: 50%; margin-left:110px";><h3>Arwaj ali <h6>Founder</h6></h3>
          <p>In his current role, Narendra Ambwani works as a strategic partner advising the top management in developing business strategy to drive the next phase of growth for the company. He is working closely with the team, to ensure internal and external development through streamlined business processes.</p>
          <a href="/contact" class="btn btn-outline-light" type="button">Contact Us</a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-dark text-white  rounded-10">
          <img  class="image" src="static/image/team2.jpg" class="card-img-top" alt="..." style="	width: 200px;height: 200px;border-radius: 50%; margin-left:110px";><h3>Shebaj ali <h6>Director</h6></h3>
          <p>He has taken Parag Milk Foods to new heights and under his leadership, the Group's revenues have grown manifold. Apart from promoting India’s largest cow farm called Bhagyalaxmi Dairy farm, he also holds reputed positions in various ventures like Director- Bhimashankar Sahakari Sakhar Karkhana, Pargaon, Secretary of National centre for Rural Development, Chairman, Sharad Sahakari Bank and Director, NDRI.</p>
          <a href="/contact" class="btn btn-outline-light" type="button">Contact Us</a>
        </div>
      </div>
    </div>

    
  </div>
  </div>
</main>
  


{% endblock body %}