{% extends 'base.html' %}

{% block tittle %}
product
{% endblock tittle %}

{% block body %}


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light fw-bold" style="margin-top:30px;">PRODUCTS</h1>
        <p class="lead text-muted">All Products are totally pure fresh  of milk.With a good taste. Malik is a brand that caters to the traditional Indian family, residing in both urban and rural areas. The products under the malik brand are every-day dairy products, ones that the consumers are highly familiar with which are Ghee, Milk, Paneer, Dahi, Curd , Butter, Dairy. The promise of Cow’s milk, purity and taste are the brand's core rationale. Through invoking a sense of festivity and association with customs and tradition, the brand adds life to products.</p>
        <p>
          <a href="/contact" class="btn btn-primary my-2">Order Now</a>
          <a href="/keepintouch" class="btn btn-secondary my-2">Keep in touch</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/milk5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Milk</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/butter (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Butter</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/ghee.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ghee</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/khoya.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Khoya</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="static/image/ice cream.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Ice-cream</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/panner.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Panner</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/matar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Hari-matar</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/dahi (2).jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Curd(dahi)</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="static/image/lashi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Lashi</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock body %}