{% extends 'base.html' %}
{% block style%}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/team.css'%}">


 



{% endblock style %}
{% block tittle %}
team
{% endblock tittle %}

{% block body %}

<section id="team" style="
    margin-top: 34px;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                  <h2>Meet Our Team</h2>
                  <p>They all are my team who are participate in my whole project.Working with very sincerely.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <div class="member-img">
                          <img src="static/image/team4.jpg" class="img-fluid" alt="">
                      </div>
                        <div class="member-info">
                            <h4>Arwaj ali</h4>
                            <span>Founder</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <div class="member-img">
                          <img src="static/image/team2.JPG" class="img-fluid" alt="">
                      </div>
                        <div class="member-info">
                            <h4>Shebaj ali</h4>
                            <span>Partner</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <div class="member-img">
                          <img src="static/image/team3.jpg" class="img-fluid" alt="">
                      </div>
                        <div class="member-info">
                            <h4>Sartaj ali</h4>
                            <span>Web Desinger</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="member">
                      <div class="member-img">
                          <img src="static/image/team5.jpg" class="img-fluid" alt="">
                      </div>
                        <div class="member-info">
                            <h4>Haider ali</h4>
                            <span>Delivery Man</span>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
       









{% endblock body %}
